---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings?: Heading[];
}

const headings = (Astro.props.headings || []).filter((heading) => heading.depth >= 2 && heading.depth <= 3);
---

{headings.length > 0 && (
  <aside class="docs-toc" aria-label="On this page">
    <p>On this page</p>
    <ul>
      {headings.map((heading) => (
        <li class:list={{'depth-3': heading.depth === 3}}>
          <a href={`#${heading.slug}`}>{heading.text}</a>
        </li>
      ))}
    </ul>
  </aside>
)}
